.online-user{
    height: 10px;
    width: 10px;
}

.group-image{
    height: 50px;
    width: 55px;
}

.user{
    height: 20px;
    width: 20px;
}

.messages_box_design{
    border-radius: 0px 28px;
    background: #e9ebe5;
    padding: 9px;
    width: auto;
    height: 42px;
}